body{
    background-color: white;
    font-family: sans-serif;
    font-size: small;
    font-style: sans-serif;
}
div.inner{
    width: 1400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
div#head{
    height: 120px;
    text-align: center;
}

.head_image {
    width: 115px;
    padding-top: 2px;
    border-radius: 15px;
}

div#name{
    height: 40px;
}
p#name_1{
    font-family: Consolas;
    font-size: 2em;
    color: black;
    line-height: 40px;
    text-align: center;
    margin: 0;
}
div#sentence{
    height: 40px;
}
p#sentence_1{
    font-family: YouYuan;
    font-size: 1.7em;
    line-height: 40px;
    text-align: center;
    margin: 0;
}
div#nav{
    height: 41px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top: 2px solid #888888;
}
li{
    float: left;
}
li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}
li a:hover{
    /* font-size: 1.2em; */
    transform: scale(1.2);
    font-weight: bold;
}
div#image{
    height: 800px;
    background: url("https://917dhj.github.io/Yannz/images/bg_1.jpg") no-repeat;
    background-size: 100%;
}

.copyright {
    color: black;
    font-size: 12px;
    padding-left: 40px;
}
